.carousel-item {
  width: 500px !important;
  opacity: .3 !important;
}

.carousel-item.active {
  opacity: 1 !important;
  background-color: transparent !important;
}

.battle-field-themes-carousel {
  overflow: visible;
}

.select-theme-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 30px;
}

.battlefield-background {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: .25;
}

.theme-ship.active {
  border: 5px solid green;
}
